/*Reset*/

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Oxygen', sans-serif;
}

/*Columns colors*/

[data-color="red"]{
  background-color: #fc5656;
}

[data-color="yellow"]{
  background-color: #fcf481;
}

[data-color="blue"]{
  background-color: #52a0ff;
}

[data-color="grey"]{
  background-color: #b5b5b5;
}

/*Typography*/

h1 {
  font-size: 84px;
}

h3{
  font-size: 32px;
}
